h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app {
  max-width: 1280px;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button,
input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button {
  display: block;
  margin: 0.5em auto;
  background-color: #eeeeee;
}

button:hover,
input:hover {
  border-color: #0e1521;
}

.card {
  border-radius: 8px;
  background: #adccff;
  padding: 1em;
  margin: 1em;
  min-width: 300px;
}

.section .card {
  width: fit-content;
  display: inline-block;
  padding: 1em;
}

.card p {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 0.5em;
  margin: 0.5rem 0;
  width: 100%;
  text-align: left;
}

button:focus,
button:focus-visible,
input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card input {
  background-color: #ffffff;
}
