@if (sections().length > 0) {
  <report
    [sections]="sections()"
    (onSetSections)="setSections($event)"
    task="Update"
    [reportId]="reportId()"
  />
} @else {
  <form
    class="m-3 max-w-md mx-auto bg-green-100 p-8 rounded-lg shadow-md text-black"
    [formGroup]="getReportForm"
    (ngSubmit)="showReport()"
  >
    <h1 class="text-2xl font-bold text-center mb-6">Get Report</h1>
    <input
      class="block w-full border border-gray-300 rounded-lg mb-4 py-2 px-4 focus:outline-none focus:border-blue-500 bg-white text-black"
      type="date"
      placeholder="DOB"
      formControlName="dob"
      dob
    />
    <input
      class="block w-full border border-gray-300 rounded-lg mb-4 py-2 px-4 focus:outline-none focus:border-blue-500 bg-white text-black"
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    <button
      class="block w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
    >
      Submit
    </button>
  </form>
}
