<div class="pl-44 relative">
  <router-outlet></router-outlet>
</div>

<div
  class="absolute bg-white opacity-50 w-20 left-0 top-0 h-screen shadow-2xl"
></div>

<nav class="absolute h-screen top-0 left-0 w-52 z-10">
  <ul class="flex flex-col mx-auto">
    <li class="p-4">
      <a
        class="text-transparent py-2 px-4 rounded-lg transition-all duration-300 ease-out hover:text-black hover:bg-white"
        [routerLink]="['/doctor/models']"
        [routerLinkActive]="['active-nav']"
      >
        <i class="fa-solid fa-brain mr-2 text-gray-800"></i> Models
      </a>
    </li>
    <li class="p-4">
      <a
        class="text-transparent py-2 px-4 rounded-lg transition-all duration-300 ease-out hover:text-black hover:bg-white"
        [routerLink]="['/doctor/reports']"
        [routerLinkActive]="['active-nav']"
      >
        <i class="fa-solid fa-file-circle-check mr-2 text-gray-800"></i> Reports
      </a>
    </li>
    <li class="p-4">
      <a
        class="text-transparent py-2 px-4 rounded-lg transition-all duration-300 ease-out hover:text-black hover:bg-white"
        [routerLink]="['/doctor/create-report']"
        [routerLinkActive]="['active-nav']"
      >
        <i class="fa-solid fa-plus mr-2 text-gray-800"></i> New Report
      </a>
    </li>
    <li class="p-4">
      <a
        class="text-transparent py-2 px-4 rounded-lg transition-all duration-300 ease-out hover:text-black hover:bg-white cursor-pointer"
        (click)="show.set(true)"
      >
        <i class="fa-solid fa-user-plus mr-2 text-gray-800"></i> New Patient
      </a>
    </li>
  </ul>
</nav>
<chat></chat>

@if (show()) {
  <add-patient (OnCloseAddPatient)="closeAddPatient()" />
}
